<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>


            <script type="text/javascript" src="{{ asset('bundles/kwakportfolio/js/jquery-1.10.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/kwakportfolio/js/main.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('bundles/kwakportfolio/css/main.css') }}" />

    </head>
    <body>

    {% if form is defined %}
        {{ form(form) }} <br/>
          {% for img in allImg %}
              {{ img.imgName }} - {{ img.imgSet }}</br>
          {% endfor %}
    {% endif %}
            

        <br/>
        <div class="titles">
            {% block titles %}{% endblock %}
        </div>
            <div class="overlay"></div>
        <div class="container">
            <div class="main">
                <div class="img">
                    <img id="mainImg" >
                    <div class="nav">
                        <a href="#" class="prev"></a>
                        <a href="#" class="next"></a>
                    </div>
                </div>
            </div>

            <div class="tumb-imgs"></div>
            <img src="{{ asset('images/close.png') }}" class="close">
        </div>
    </body>
</html>